body {
    background-color: #7D007D;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
} 

#fixxo {    
    background-color: rgb(15, 163, 107);
    margin: 0;
    padding: 20px;
    width: 680px;
}

#title {
    margin: 0;    
    font-family: 'Courier New', Courier;
    font-size: 30pt;
    color: whitesmoke;
    text-shadow: 1px 1px 4px black;    
    padding: 0;
}
h2 {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition-property: all;
    transition-duration: 2s;
}

h2:hover {
    text-decoration: overline;
    transition: rotate(180deg);
}

.main {    
    background-color: rgb(15, 163, 107);
    padding: 10px;    
    width: 700px;
}

#habilidades {
    display: flex;    
    align-items: center;
    flex-direction: column;
}

/*deixa a borda "arredondada"*/
.pics {
    border-radius: 15%;
}
/* modifica os links, ao passar o mouse sobre ele o sublinhado some*/
a:hover {
    text-decoration: none;
}
a:link {
    color: unset;
}
a:visited {
    color: black;
}
figure.foto_legenda figcaption {
    opacity: 0;
    position: relative;    
    color: white;    
    box-sizing: content-box;
    transition: 1s;
    width: fit-content;
    border: 2px black;
    margin: 0 auto;
}
figure.foto_legenda:hover figcaption {
    opacity: 1;
}

.autor {
    text-decoration: overline;
}

.link1:hover {
    text-shadow: 0 0 20px black;
    font-size: 150%;
}

.link1 {
    transition: all;
    transition-duration: 2s;
}

.link2 {
    transition: all;
    transition-duration: 2s;
}

.link2:hover {
    text-shadow: 0 0 20px rgb(214, 41, 118);
    font-size: 150%;
}

.link3 {
    transition: all;
    transition-duration: 2s;
}

.link3:hover {
    text-shadow: 0 0 20px #7D007D;
    font-size: 150%;
}

.link4 {
    transition-property: all;
    transition-duration: 2s;
}

.link4:hover {
    text-shadow: 0 0 20px #FF0000;
    font-size: 150%;
}

.link5 {
    transition-property: text-shadow, font-size;
    transition-duration: 2s;
}

.link5:hover {
    text-shadow: 0 0 20px #d62976;
    font-size: 150%;
}

.link6 {
    transition-property: text-shadow, font-size;
    transition-duration: 2s;
}

.link6:hover {
    text-shadow: 0 0 20px #3B5998;
    font-size: 150%;
}

.rodape {
    background-color: rgb(15, 163, 107);
    width: 720px;
}
