@charset "UTF-8";

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
}

a:hover {
    text-decoration: none;
}

a:link {
    color: unset;
}

a:visited {
    color: wheat;
}

body {
    background-color: orange;
    text-align: center;
    border: orangered;
}    


/*formatação de imagens com legenda*/

figure.foto_legenda {
    position: relative;
    border: 6px solid whitesmoke;
    box-shadow: 2px 2px 6px black;
}


figure.foto_legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color:rgba(0,0,0, 0.6);
    color: white;
    box-sizing: border-box;
    transition: 1s;
}

figure.foto_legenda:hover figcaption {
    opacity: 1;
}