body{
  background-image: linear-gradient(lightblue, blue);
}

#meme-image{
  display: block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

#meme-image-container{
  background-color: white;
  border: 1px black solid;
  height: 450px;
  position: relative;
  width: 400px;
}

#meme-text  {
  color: white;
  font-size: 18pt;
  position: absolute;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  top: 0;
  word-break: normal;
  width: 100%;
}
